/* COLORS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
This .header css below is applied to all page headers. 
If you do not like the height edit, lets
together to find something we all like.
*/
.header {
  height: 450px;
  text-align: center;
}

.header-nav {
  list-style-type: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: #121212;
}

a.nav:hover {
  color: #ff007c;
  font-size: larger;
}

a.nav-1:hover {
  color: greenyellow;
  font-size: larger;
}

a.nav-2:hover {
  color: #9ee1fa;
  font-size: larger;
}

a.nav-3:hover {
  color: greenyellow;
  font-size: larger;
}

a.nav-4:hover {
  color: #ff007c;
  font-size: larger;
}

.header-nav li {
  display: inline-block;
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.footer {
  text-align: center;
  margin-bottom: 10px;
}

.footer-img {
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.logo {
  position: absolute;
  left: 120px;
  top: 10px;
  background-color: black;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  --shadow-color: hsl(220deg 60% 50%);
  padding: 1px;
  border-radius: 10px;
}

.button {
}

/* INDEX CSS */

.index-header {
  background-image: url(/images/index-header.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

h2 {
  font-size: 40px;
}

p.index {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  position: relative;
  top: 200px;
}

.about-section {
  height: 400px;
}

video {
  border: 5px solid greenyellow;
  border-radius: 50px;
  margin: 15px;
}

/*LEADERSHIP CSS*/

.leadership-header {
  background-image: url("/images/ppg_leadership_header.png");
  background-size: cover;
  height: 600px;
  color: #ff007c;
  text-align: center;
  background-repeat: no-repeat;
}

#kenia-section {
  background-color: lightgreen;
  margin: 10px;
  height: fit-content;
  padding: 20px;
}

#leelee-section {
  background-color: pink;
  margin: 10px;
  height: fit-content;
  padding: 20px;
}

#brittney-section {
  background-color: lavender;
  margin: 10px;
  height: fit-content;
  padding: 20px;
}

#rama-section {
  background-color: lightblue;
  margin: 10px;
  height: fit-content;
  padding: 20px;
}

.leadership-section {
  width: 250px;
  float: left;
  padding-left: 50px 50px;
  text-align: center;
  border: dotted black;
}

.picsec {
  width: 200px;
  height: 250px;
}

h1 {
  text-align: center;
}

.leadership-button {
  text-decoration: underline;
  padding: 10px;
  margin: 10px;
  border: none;
  border-style: groove;
  border-color: yellow;
}

footer {
  clear: both;
}

/* HOURS CSS */

.hours-header {
}

/* CONTACT CSS */

.contact-header {
  background-image: url("/images/Power-Phone.gif"),
    url("/images/Power-contact-header3.jpg");
  background-repeat: no-repeat;
  background-position: right, center;
  background-size: 300px, cover;
}
.container
.input1[type=text] {
width: 50%;
padding: 12px;
border: 1px solid #060b21;
border-radius: 4px;
}
.input2[type=text] {
  width: 50%;
  padding: 12px;
  border: 1px solid #060b21;
  border-radius: 4px;
  }
  
  .button1 {
    background-color: pink;
  }

/* END OF CONTACT CSS */
