/* COLORS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
This .header css below is applied to all page headers. 
If you do not like the height edit, lets
together to find something we all like.
*/
.header {
  height: 450px;
  text-align: center;
}

.header-nav {
  list-style-type: none;
  text-align: center;
}

a.logo > img {
  width: 250px;
  position: absolute;
  top: 10px;
  left: 50px;
  /* height: 70px;
 display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px; */
}

.header-nav li {
  display: inline-block;
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

a {
  text-decoration: none;
  color: #121212;
}

a.nav:hover {
  color: #ff007c;
  font-size: larger;
  text-decoration: underline;
}

a.nav-1:hover {
  color: greenyellow;
  font-size: larger;
  text-decoration: underline;
}

a.nav-2:hover {
  color: #9ee1fa;
  font-size: larger;
  text-decoration: underline;
}

a.nav-3:hover {
  color: greenyellow;
  font-size: larger;
  text-decoration: underline;
}

a.nav-4:hover {
  color: #ff007c;
  font-size: larger;
  text-decoration: underline;
}

.footer {
  text-align: center;
  margin-bottom: 10px;
}

.footer-img {
  height: 20px;
  background-color: black;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  --shadow-color: hsl(220deg 60% 50%);
  padding: 1px;
  border-radius: 5px;
}

.button {
}

/* INDEX CSS */

.index-header {
  background-image: url(/images/index-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2 {
  font-size: 25px;
  padding: 30px;
  letter-spacing: 15px;
}

p.index {
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  position: relative;
  top: 150px; */
}

.about-section {
  height: 400px;
}

section.about-section > h1 {
  margin-bottom: 15px;
}


video {
  border: 5px solid greenyellow;
  border-radius: 50px;
  margin: 15px;
  float: left;
}



/*LEADERSHIP CSS*/

.leadership-header {
  background-image: url("/images/ppg_leadership_header.png");
  background-size: cover;
  height: 600px;
  color: #ff007c;
  text-align: center;
  background-repeat: no-repeat;
}

.leadership-section {
  width: 295px;
  float: left;
  padding-left: 50px 50px;
  text-align: center;
  border: dotted black;
  margin: 100px;
  border-radius: 50px;
}

.leadership-title {
  margin: 5px;
  padding: 40px;
  font-size: 50px;
  color: #ff007c;
  border-style: double;
  border-radius: 10px;
  text-align: center;
}

#kenia-section {
  background-color: olivedrab;
  margin: 10px;
  height: fit-content;
  padding: 20px;
}

#leelee-section {
  background-color: palevioletred;
  margin: 10px;
  height: fit-content;
  padding: 20px;
}

#brittney-section {
  background-color: violet;
  margin: 10px;
  height: fit-content;
  padding: 20px;
}

#rama-section {
  background-color: skyblue;
  margin: 10px;
  height: fit-content;
  padding: 20px;
}

.picsec {
  width: 200px;
  height: 250px;
}


#leadership-pic {
  border-radius: 100px 0;
}

.leadership-button {
 text-decoration: underline;
  padding: 10px;
  margin: 10px;
  border: none;
  border-style: hidden;
  background-color: gold;
  width: 250px;
  border-radius: 0;
}

button:hover {
  color: red;
  text-decoration: underline;
  background-color: white;
}

/* HOURS CSS */

.hours-header {
}

/* CONTACT CSS */

.contact-header {
  background-image: url("/images/Power-Phone.gif"),
    url("/images/Power-contact-header3.jpg");
  background-repeat: no-repeat;
  background-position: right, center;
  background-size: 300px, cover;
}

/* END OF CONTACT CSS */

/* THIS IS START OF FOOTER */

footer {
  clear: both;
}

/* THIS IS END OF FOOTER */
