/* COLORS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
This .header css below is applied to all page headers. 
If you do not like the height edit, lets
together to find something we all like.
*/
.header {
  height: 600px;
text-align: center;
}

.header-nav {
  list-style-type: none;
  text-align: center;
}

.header-nav li {
  display: inline-block;
  padding: 20px;
}

.footer {
  text-align: center;
  margin-bottom: 10px;
}

.footer-img {
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.logo {
  position: absolute;
  left: 120px;
  top: 10px;
}

.button {
}

/* INDEX CSS */

.index-header {
  background-image: url(/images/index-header.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

/*LEADERSHIP CSS*/

.leadership-header {
  background-image: url(/images/ppg_leadership_header.png) ;

}

#kenia-section {
  background-color: lightgreen;
  margin: 10px;

}

#leelee-section {
  background-color: pink;

  margin: 10px;

}

#brittney-section {
  background-color: white;

  margin: 10px;

}

#rama-section {
  background-color: lightblue;
  margin: 10px;

}

section.leadership-section {
    width: 25%;
    float: left;
    padding-left: 5px;
    text-align: center;
    border: dotted black;
}

.picsec {
  width: 100px;
}

footer {
  clear: both
}



/* HOURS CSS */

.hours-header {

}

/* CONTACT CSS */

.contact-header {
  background-image: url("/images/Power-Contact-header1.png");
}
